* {
  /* Empty */
}

body {
  /* Empty */
}

.jumbotron {
  margin: 0; /* Tweak Bootstrap's Jumbotron Margins */
}

h1 {
  color:white;
}

#htmlDirections {
  color:white;
}

.results {
  color:#c3002f;
}

.random {
  color:#c3002f;
  font-style: italic;
}

.my-jumbotron-container {
  padding: 0px; 
}

.my-jumbotron-right {
  padding-top: 0 0 0 0;
  background-color: black; /* #5bc0d6; */
  filter: brightness(100%);
    overflow: hidden;
}
.my-jumbotron-left {
  padding: 0;
  margin: 0;
  background-color: black; /* #5bc0d6; */
  filter: brightness(100%);
  overflow: hidden;
    margin: 0;
  display:block;
  background-color: black; /* #5bc0d6; */

}

table {
  margin: 0;
}

p {
  color: white;
}

.my-image-container {
  background-color: black;
  /* max-height: 100%;
  min-height: 100%; */
  max-width: 100%;
  min-width: 100%;
  padding: 0;
  object-fit: contain;
  overflow: hidden;
  display: block;
}

.my-table {
  border: none;
}

th {
  text-align: right;
  padding: 0 10px 0 0;
}

td {
  text-align: left;
  font-weight: bold;
  padding: 0 0 0 10px;
}

#my-result p {
  color: #c3002f;
  font-weight: bold;
  text-align: cemter;
}

img {
  filter: brightness(100%);
}