* {
  /* Empty */
}

body {
  /* Empty */
}

.jumbotron, 
.jumbotron-fluid {
  margin: 0; /* Tweak Bootstrap's Jumbotron Margins */
  padding: 0 20px 0 20px;
  background: #060203; /* Because pure Black makes too much contrast for the eyes */
}

h1,
#htmlDisappearAfterKeyPress,
#htmlAppearAfterKeyPress,
p,
h6 {
  color: white;
}

.results {
  color:#c3002f;
}

.random {
  color:#c3002f;
  font-style: italic;
}

.my-jumbotron-left {
  padding: 0 20px 0 20px;
  margin: 0;
  /* display: block; */

} 
.my-jumbotron-right {
  padding: 0 20px 0 20px;
  overflow: default;
  float: left;
}

.logo img { /* Main Logo top-left */
  object-fit: cover;
}

.attacks { /* Holds the Attack Images */
  margin: 0px auto 0px auto;
  display: inline;
  float: left;
  text-align: center;
}

.attacks img { /* The attack images */
  max-width: 20%;
  overflow: none;
  object-fit: contain;
  border: 2px orangered;
  padding: 0 10px 0 10px;
}

.warriors { /* The warriors on the right */
  margin: 0px auto 0px auto;
  display: inline;
  float: left;
  text-align: center;
}

.warriors img { /* The warrior images */
  max-width: 30%;
  overflow: none;
  object-fit: contain;
  border: 2px orangered;
  padding: 5px 0px 0px 5px;
}

table {
  margin: 0;
}

 td, th {
  text-align: left;
  padding: 0 5px 0 5px;
 }

.results-table table {
  margin: 0;
}

.results-table th {
  text-align: right;
  padding: 0 10px 0 0;
}

.results-table td {
  text-align: left;
  font-weight: bold;
  padding: 0 0 0 10px;
}

#my-result p {
  color: #c3002f;
  font-weight: bold;
  text-align: cemter;
}

/* TESTING BORDERS */
  div {
    border: 1px solid green;
  }
  .container {
    border: 1px #c3002f solid;
  }
  .row {
    border: 1px blue solid;
  }
  .col-sm-6 {
    border: 1px blueviolet solid;
  }
  .col-med-6 {
    border: 1px white solid;
  }
  table {
    border: 2px yellow solid;
  }